.bottomNavBar {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.card {
    max-width: 95%;
    border-radius: 5px;
    box-shadow: 0px 2.5px 5px rgb(195, 195, 195);
    transition: transform .2s cubic-bezier(0.6, -0.28, 0.735, 0.045) !important;
}
.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.card > :global(.ant-card-body) {
    padding: 10px;
    overflow: hidden;
    height: 100%;
}
.card__title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 18px;
}
.card__description {
    margin-top: 7.5px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-transform: capitalize;
    color: rgb(124, 124, 124);
}
.card__controls {
    display: flex;
    justify-content: flex-end;
}
.card__controls__button {
    margin: 20px 0px 0px 5px;
}

.slider {
    margin: auto 37.5vw;
    min-width: 330px;
}
.slider > :global(.slick-list) {
    overflow: visible;
    margin-top: 15px;
}
.slider > :global(.slick-list) > :global(.slick-track) {
    margin-left: 25vw;
}
.slider > :global(.slick-list) > :global(.slick-track) > :global(.slick-slide) {
    min-width: 200px;
    padding-bottom: 15px;
}
.slider > :global(.slick-list) > :global(.slick-track) > :global(.slick-slide) > div {
    padding-bottom: 15px;
}

.parent {
    position: relative;
}

.testSection {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    transition: bottom .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.testSection__button {
    margin-bottom: 15px;
    height: 50px !important;
    width: 50px !important;
    padding: 0px !important;
    background: white;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(195, 195, 195);
}
.testSection__button:hover, .testSection__button:focus {
    background: white;
    border: 0;
}
.testSection__button > span {
    font-size: 20px !important;
    color: rgb(50, 50, 50);
    line-height: 0 !important;
}